In [2]:
from viresclient import SwarmRequest
import datetime as dt
import numpy as np
import pandas as pd

request = SwarmRequest("https://staging.viresdisc.vires.services/openows")

request.set_collection("SW_OPER_TECATMS_2F")

request.set_products(measurements=request.available_measurements("TEC"))

data = request.get_between(dt.datetime(2014,1,1),
                           dt.datetime(2014,1,2))

[1/1] Processing:  100%|██████████|  [ Elapsed: 00:01, Remaining: 00:00 ]
      Downloading: 100%|██████████|  [ Elapsed: 00:05, Remaining: 00:00 ] (8.118MB)

NB: The time interval is not always the same:

In [3]:
df = data.as_dataframe()
times = df.index
np.unique(np.sort(np.diff(times.to_pydatetime())))

array([datetime.timedelta(0), datetime.timedelta(0, 9, 998999),
       datetime.timedelta(0, 9, 999000), datetime.timedelta(0, 9, 999001),
       datetime.timedelta(0, 10)], dtype=object)

In [4]:
len(df), 60*60*24

(47411, 86400)

In [5]:
data.as_xarray()

<xarray.Dataset>
Dimensions:            (Timestamp: 47411, dim: 3)
Coordinates:
  * Timestamp          (Timestamp) datetime64[ns] 2014-01-01T00:00:03.999000072 ...
Dimensions without coordinates: dim
Data variables:
    Spacecraft         (Timestamp) <U1 'A' 'A' 'A' 'A' 'A' 'A' 'A' 'A' 'A' ...
    Latitude           (Timestamp) float64 -1.482 -1.482 -1.482 -1.482 ...
    Longitude          (Timestamp) float64 -14.12 -14.12 -14.12 -14.12 ...
    Radius             (Timestamp) float64 6.878e+06 6.878e+06 6.878e+06 ...
    GPS_Position       (Timestamp, dim) float64 2.245e+07 5.421e+06 ...
    LEO_Position       (Timestamp, dim) float64 6.668e+06 -1.678e+06 ...
    PRN                (Timestamp) uint16 15 18 22 24 25 29 15 18 22 24 25 ...
    L1                 (Timestamp) float64 3.49e+05 -8.055e+06 1.156e+06 ...
    L2                 (Timestamp) float64 3.49e+05 -8.055e+06 1.155e+06 ...
    P1                 (Timestamp) float64 2.17e+07 2.123e+07 2.265e+07 ...
    P2                 (Timestamp) float64 2.17e+07 2.123e+07 2.265e+07 ...
    S1                 (Timestamp) float64 36.83 34.75 30.9 29.87 30.88 ...
    S2                 (Timestamp) float64 36.83 34.75 30.9 29.87 30.88 ...
    Absolute_STEC      (Timestamp) float64 16.49 16.51 20.5 20.19 15.88 ...
    Relative_STEC      (Timestamp) float64 24.04 22.75 15.59 52.33 52.82 ...
    Relative_STEC_RMS  (Timestamp) float64 0.5729 0.4688 1.316 0.954 0.5069 ...
    DCB                (Timestamp) float64 -11.39 -11.39 -11.39 -11.39 ...
    DCB_Error          (Timestamp) float64 0.8189 0.8189 0.8189 0.8189 ...

In [6]:
data.as_dataframe().head()

,Absolute_STEC,DCB,DCB_Error,GPS_Position,L1,L2,LEO_Position,Latitude,Longitude,P1,P2,PRN,Radius,Relative_STEC,Relative_STEC_RMS,S1,S2,Spacecraft
Timestamp,,,,,,,,,,,,,,,,,,
2014-01-01 00:00:03.999000072,16.485496,-11.386267,0.818939,"[22448766.382068712, 5421379.177769885, -13409...",3.489671e+05,3.489645e+05,"[6668214.762866248, -1677732.7119313977, -1779...",-1.482395,-14.122571,2.169995e+07,2.169995e+07,15,6.878338e+06,24.036099,0.572870,36.83,36.83,A
2014-01-01 00:00:03.999000072,16.507507,-11.386267,0.818939,"[16113499.601392733, -16306172.745189529, -126...",-8.054729e+06,-8.054732e+06,"[6668214.762866248, -1677732.7119313977, -1779...",-1.482395,-14.122571,2.122830e+07,2.122830e+07,18,6.878338e+06,22.745308,0.468824,34.75,34.75,A
2014-01-01 00:00:03.999000072,20.496808,-11.386267,0.818939,"[10823457.224017758, -24014739.552519187, -248...",1.155501e+06,1.155500e+06,"[6668214.762866248, -1677732.7119313977, -1779...",-1.482395,-14.122571,2.264719e+07,2.264719e+07,22,6.878338e+06,15.587209,1.315539,30.90,30.90,A
2014-01-01 00:00:03.999000072,20.187384,-11.386267,0.818939,"[20631539.318679627, 13441367.949223593, 10050...",3.305822e+06,3.305816e+06,"[6668214.762866248, -1677732.7119313977, -1779...",-1.482395,-14.122571,2.285928e+07,2.285928e+07,24,6.878338e+06,52.333045,0.954009,29.87,29.87,A
2014-01-01 00:00:03.999000072,15.881899,-11.386267,0.818939,"[16637724.177812615, -10692760.909511654, 1761...",4.324973e+06,4.324967e+06,"[6668214.762866248, -1677732.7119313977, -1779...",-1.482395,-14.122571,2.216981e+07,2.216981e+07,25,6.878338e+06,52.816433,0.506943,30.88,30.88,A