In [1]:
from viresclient import SwarmRequest
import datetime as dt
import numpy as np
import pandas as pd

request = SwarmRequest()

request.set_collection("SW_OPER_TECATMS_2F")

request.set_products(measurements=request.available_measurements("TEC"))

data = request.get_between(dt.datetime(2014,1,1),
                           dt.datetime(2014,1,2))

[1/1] Processing:  100%|██████████|  [ Elapsed: 00:01, Remaining: 00:00 ]
      Downloading: 100%|██████████|  [ Elapsed: 00:00, Remaining: 00:00 ] (9.311MB)

In [3]:
df = data.as_dataframe()
df.head()

,Spacecraft,Latitude,Longitude,Radius,GPS_Position,LEO_Position,PRN,L1,L2,P1,P2,S1,S2,Elevation_Angle,Absolute_VTEC,Absolute_STEC,Relative_STEC,Relative_STEC_RMS,DCB,DCB_Error
2014-01-01 00:00:04,A,-1.482419,-14.122572,6.878338e+06,"[22448765.690377887, 5421379.431197803, -13409...","[6668214.544000001, -1677732.674, -177943.9959...",15,-6.261986e+06,-6.261989e+06,2.182913e+07,2.182914e+07,36.83,36.83,39.683333,10.894886,16.429938,24.041127,0.555675,-11.446853,0.832346
2014-01-01 00:00:04,A,-1.482419,-14.122572,6.878338e+06,"[16113499.491062254, -16306172.004347403, -126...","[6668214.544000001, -1677732.674, -177943.9959...",18,-1.466568e+07,-1.466568e+07,2.135749e+07,2.135749e+07,34.75,34.75,37.478137,10.461554,16.456409,22.754795,0.488000,-11.446853,0.832346
2014-01-01 00:00:04,A,-1.482419,-14.122572,6.878338e+06,"[10823457.339250825, -24014739.352816023, -248...","[6668214.544000001, -1677732.674, -177943.9959...",22,-5.455452e+06,-5.455454e+06,2.277638e+07,2.277638e+07,30.90,30.90,24.681787,9.529846,20.434286,15.585271,1.313984,-11.446853,0.832346
2014-01-01 00:00:04,A,-1.482419,-14.122572,6.878338e+06,"[20631539.59055339, 13441368.439225309, 100505...","[6668214.544000001, -1677732.674, -177943.9959...",24,-3.402816e+06,-3.402821e+06,2.298846e+07,2.298847e+07,29.87,29.87,24.647445,9.357587,20.085094,52.291341,0.899036,-11.446853,0.832346
2014-01-01 00:00:04,A,-1.482419,-14.122572,6.878338e+06,"[16637723.905075422, -10692759.977004562, 1761...","[6668214.544000001, -1677732.674, -177943.9959...",25,-2.285981e+06,-2.285986e+06,2.229899e+07,2.229900e+07,30.88,30.88,30.753636,8.597559,15.676947,52.672067,0.546729,-11.446853,0.832346

NB: The time interval is not always the same:

In [4]:
times = df.index
np.unique(np.sort(np.diff(times.to_pydatetime())))

array([datetime.timedelta(0), datetime.timedelta(seconds=10)],
      dtype=object)

In [5]:
len(df), 60*60*24

(49738, 86400)

In [6]:
data.as_xarray()

<xarray.Dataset>
Dimensions:            (Timestamp: 49738, dim: 3)
Coordinates:
  * Timestamp          (Timestamp) datetime64[ns] 2014-01-01T00:00:04 ... 2014-01-01T23:59:54
Dimensions without coordinates: dim
Data variables:
    Spacecraft         (Timestamp) <U1 'A' 'A' 'A' 'A' 'A' ... 'A' 'A' 'A' 'A'
    Latitude           (Timestamp) float64 -1.482 -1.482 -1.482 ... -81.7 -81.7
    Longitude          (Timestamp) float64 -14.12 -14.12 -14.12 ... 1.559 1.559
    Radius             (Timestamp) float64 6.878e+06 6.878e+06 ... 6.88e+06
    GPS_Position       (Timestamp, dim) float64 2.245e+07 ... -2.111e+07
    LEO_Position       (Timestamp, dim) float64 6.668e+06 ... -6.808e+06
    PRN                (Timestamp) uint16 15 18 22 24 25 29 ... 7 15 16 18 21 26
    L1                 (Timestamp) float64 -6.262e+06 -1.467e+07 ... -3.41e+06
    L2                 (Timestamp) float64 -6.262e+06 -1.467e+07 ... -3.41e+06
    P1                 (Timestamp) float64 2.183e+07 2.136e+07 ... 2.171e+07
    P2                 (Timestamp) float64 2.183e+07 2.136e+07 ... 2.171e+07
    S1                 (Timestamp) float64 36.83 34.75 30.9 ... 23.03 37.73 37.5
    S2                 (Timestamp) float64 36.83 34.75 30.9 ... 23.03 37.73 37.5
    Elevation_Angle    (Timestamp) float64 39.68 37.48 24.68 ... 49.64 45.71
    Absolute_VTEC      (Timestamp) float64 10.89 10.46 9.53 ... 8.365 7.912
    Absolute_STEC      (Timestamp) float64 16.43 16.46 20.43 ... 10.77 10.78
    Relative_STEC      (Timestamp) float64 24.04 22.75 15.59 ... 16.92 26.51
    Relative_STEC_RMS  (Timestamp) float64 0.5557 0.488 1.314 ... 0.6458 3.041
    DCB                (Timestamp) float64 -11.45 -11.45 ... -11.45 -11.45
    DCB_Error          (Timestamp) float64 0.8323 0.8323 ... 0.8323 0.8323
Attributes:
    Sources:         ['SW_OPER_TECATMS_2F_20140101T000000_20140101T235959_0301']
    MagneticModels:  []
    RangeFilters:    []