In [4]:
from viresclient import SwarmRequest
import datetime as dt

request = SwarmRequest("https://staging.viresdisc.vires.services/openows")

request.set_collection("SW_OPER_EFIA_PL_1B")

request.set_products(measurements=request.available_measurements("EFI"))

In [5]:
# No data until 2014,1,7
# How to handle these errors?
start_time = dt.datetime(2014,1,1)
end_time = dt.datetime(2014,1,2)
data = request.get_between(start_time, end_time, asynchronous=False)

      Downloading: 100%|██████████|  [ Elapsed: 00:00, Remaining: 00:00 ] (0.013MB)

In [6]:
data.as_dataframe()

No data available

Empty DataFrame
Columns: [Spacecraft, Latitude, Longitude, Radius, v_SC, v_ion, v_ion_error, E, E_error, dt_LP, n, n_error, T_ion, T_ion_error, T_elec, T_elec_error, U_SC, U_SC_error, v_ion_H, v_ion_H_error, v_ion_V, v_ion_V_error, rms_fit_H, rms_fit_V, var_x_H, var_y_H, var_x_V, var_y_V, dv_mtq_H, dv_mtq_V, SAA, Flags_LP, Flags_LP_n, Flags_LP_T_elec, Flags_LP_U_SC, Flags_TII, Flags_Platform, Maneuver_Id]
Index: []

[0 rows x 38 columns]

In [7]:
print(request.available_measurements("EFI"))

['v_SC', 'v_ion', 'v_ion_error', 'E', 'E_error', 'dt_LP', 'n', 'n_error', 'T_ion', 'T_ion_error', 'T_elec', 'T_elec_error', 'U_SC', 'U_SC_error', 'v_ion_H', 'v_ion_H_error', 'v_ion_V', 'v_ion_V_error', 'rms_fit_H', 'rms_fit_V', 'var_x_H', 'var_y_H', 'var_x_V', 'var_y_V', 'dv_mtq_H', 'dv_mtq_V', 'SAA', 'Flags_LP', 'Flags_LP_n', 'Flags_LP_T_elec', 'Flags_LP_U_SC', 'Flags_TII', 'Flags_Platform', 'Maneuver_Id']

In [8]:
start_time = dt.datetime(2014,1,7,0)
end_time = dt.datetime(2014,1,7,1)
data = request.get_between(start_time, end_time)

[1/1] Processing:  100%|██████████|  [ Elapsed: 00:01, Remaining: 00:00 ]
      Downloading: 100%|██████████|  [ Elapsed: 00:01, Remaining: 00:00 ] (2.635MB)

In [9]:
data.as_dataframe().head()

,E,E_error,Flags_LP,Flags_LP_T_elec,Flags_LP_U_SC,Flags_LP_n,Flags_Platform,Flags_TII,Latitude,Longitude,...,v_ion,v_ion_H,v_ion_H_error,v_ion_V,v_ion_V_error,v_ion_error,var_x_H,var_x_V,var_y_H,var_y_V
Timestamp,,,,,,,,,,,,,,,,,,,,,
2014-01-07 00:00:00.162499905,"[0.0, 0.0, 0.0]","[0.0, 0.0, 0.0]",3,20,20,20,32,0,73.193614,37.669249,...,"[0.0, 0.0, 0.0]","[0.0, 0.0]","[0.0, 0.0]","[0.0, 0.0]","[0.0, 0.0]","[0.0, 0.0, 0.0]",0.0,0.0,0.0,0.0
2014-01-07 00:00:00.662499905,"[0.0, 0.0, 0.0]","[0.0, 0.0, 0.0]",3,20,20,20,32,0,73.193614,37.669249,...,"[0.0, 0.0, 0.0]","[0.0, 0.0]","[0.0, 0.0]","[0.0, 0.0]","[0.0, 0.0]","[0.0, 0.0, 0.0]",0.0,0.0,0.0,0.0
2014-01-07 00:00:01.162499905,"[0.0, 0.0, 0.0]","[0.0, 0.0, 0.0]",3,20,20,20,32,0,73.193614,37.669249,...,"[0.0, 0.0, 0.0]","[0.0, 0.0]","[0.0, 0.0]","[0.0, 0.0]","[0.0, 0.0]","[0.0, 0.0, 0.0]",0.0,0.0,0.0,0.0
2014-01-07 00:00:01.662499905,"[0.0, 0.0, 0.0]","[0.0, 0.0, 0.0]",3,20,20,20,32,0,73.193614,37.669249,...,"[0.0, 0.0, 0.0]","[0.0, 0.0]","[0.0, 0.0]","[0.0, 0.0]","[0.0, 0.0]","[0.0, 0.0, 0.0]",0.0,0.0,0.0,0.0
2014-01-07 00:00:02.162499905,"[0.0, 0.0, 0.0]","[0.0, 0.0, 0.0]",3,20,20,20,32,0,73.193613,37.669249,...,"[0.0, 0.0, 0.0]","[0.0, 0.0]","[0.0, 0.0]","[0.0, 0.0]","[0.0, 0.0]","[0.0, 0.0, 0.0]",0.0,0.0,0.0,0.0