In [7]:
from viresclient import SwarmRequest
import datetime as dt
import numpy as np
import pandas as pd

request = SwarmRequest("https://staging.viresdisc.vires.services/openows")

request.set_collection("SW_OPER_EEFBTMS_2F")

request.set_products(measurements=request.available_measurements("EEF"))

start_time = dt.datetime(2016,1,1)
end_time = dt.datetime(2017,1,1)
data = request.get_between(start_time, end_time)

[1/1] Processing:  100%|██████████|  [ Elapsed: 00:03, Remaining: 00:00 ]
      Downloading: 100%|██████████|  [ Elapsed: 00:00, Remaining: 00:00 ] (0.313MB)

In [8]:
# Take a look at the time jumps between entries
df = data.as_dataframe()
times = df.index
np.unique(np.sort(np.diff(times.to_pydatetime())))[:20]

array([datetime.timedelta(-1, 1117), datetime.timedelta(0),
       datetime.timedelta(0, 2561), datetime.timedelta(0, 2616),
       datetime.timedelta(0, 2620), datetime.timedelta(0, 2712),
       datetime.timedelta(0, 2786), datetime.timedelta(0, 2838),
       datetime.timedelta(0, 2901), datetime.timedelta(0, 3011),
       datetime.timedelta(0, 3066), datetime.timedelta(0, 3126),
       datetime.timedelta(0, 5489), datetime.timedelta(0, 5490),
       datetime.timedelta(0, 5491), datetime.timedelta(0, 5492),
       datetime.timedelta(0, 5493), datetime.timedelta(0, 5494),
       datetime.timedelta(0, 5495), datetime.timedelta(0, 5496)],
      dtype=object)

In [9]:
df.head()

,EEF,Latitude,Longitude,RelErr,Spacecraft,flags
Timestamp,,,,,,
2016-01-01 00:52:25,-0.000758,7.187098,113.751205,0.356176,B,2
2016-01-01 02:27:08,-0.000659,7.466371,89.976870,0.280210,B,2
2016-01-01 04:02:05,-0.000349,6.861260,66.179520,0.341369,B,2
2016-01-01 05:36:45,-0.000203,7.330604,42.410120,0.454075,B,2
2016-01-01 07:10:50,-0.000235,10.010381,18.697549,0.745044,B,2